@model IEnumerable<WebApplication2.Models.WELL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table style="width:472%" class="table table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NAME)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LOCATION)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WELL_TYPE)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ASSIGMENT)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SIB)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EXPLONATION_DATE)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ACTIVITY)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IRRIGATED_AREA)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TECHNICAL_CONDITION)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DEPTH)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PROPERTY_TYPE)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PROPERTY)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NUMBER_)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PRODUCTIVITY)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SECURITY_TYPE)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NOTE)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Region_ID)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Municipality_ID)
                            <hr style="width:206px" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.USER_ADMIN_ID)
                            <hr style="width:206px" />
                        </th>
                    </tr>
                </thead>
            </table>
            <div style="width:472%; height:400px;overflow:auto;">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <tbody>
                        @using (Html.BeginForm("Index", "WELLs", FormMethod.Post))
                        {
                            int i = 0;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td style="display:none">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.OBJECTID" name="wll[@i].OBJECTID" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.NAME" name="wll[@i].NAME" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.LOCATION" name="wll[@i].LOCATION" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.WELL_TYPE" name="wll[@i].WELL_TYPE" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.ASSIGMENT" name="wll[@i].ASSIGMENT" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.SIB" name="wll[@i].SIB" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.EXPLONATION_DATE" name="wll[@i].EXPLONATION_DATE" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.ACTIVITY" name="wll[@i].ACTIVITY" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.IRRIGATED_AREA" name="wll[@i].IRRIGATED_AREA" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.TECHNICAL_CONDITION" name="wll[@i].TECHNICAL_CONDITION" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.DEPTH" name="wll[@i].DEPTH" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.PROPERTY_TYPE" name="wll[@i].PROPERTY_TYPE" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.PROPERTY" name="wll[@i].PROPERTY" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.NUMBER_" name="wll[@i].NUMBER_" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.PRODUCTIVITY" name="wll[@i].PRODUCTIVITY" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.SECURITY_TYPE" name="wll[@i].SECURITY_TYPE" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.NOTE" name="wll[@i].NOTE" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.Region_ID" name="wll[@i].Region_ID" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.Municipality_ID" name="wll[@i].Municipality_ID" />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@item.USER_ADMIN_ID" name="wll[@i].USER_ADMIN_ID" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                            <div class="text-right" style="background-color:white; padding:10px; width:100px; position:fixed; bottom:0px; right:0px; z-index:1;">
                                <button class="btn btn-primary">Yadda Saxla</button>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

