@model IEnumerable<WebApplication2.Models.ARTEZIAN_WELL>
@{
    ViewBag.Title = "ArtizianWEll";
    Layout = "~/Views/Shared/NazirlikLayout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LOCATED_AREA)</th>
                        <th>@Html.DisplayNameFor(model => model.REPER_NO)</th>
                        <th>@Html.DisplayNameFor(model => model.WELL_TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.ASSIGMENT)</th>
                        <th>@Html.DisplayNameFor(model => model.SIB)</th>
                        <th>@Html.DisplayNameFor(model => model.EXPLONATION_DATE)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY_TYPE)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LOCATED_AREA)</th>
                        <th>@Html.DisplayNameFor(model => model.REPER_NO)</th>
                        <th>@Html.DisplayNameFor(model => model.WELL_TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.ASSIGMENT)</th>
                        <th>@Html.DisplayNameFor(model => model.SIB)</th>
                        <th>@Html.DisplayNameFor(model => model.EXPLONATION_DATE)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY_TYPE)</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.LOCATED_AREA</td>
                        <td>@item.REPER_NO</td>
                        <td>@item.WELL_TYPE</td>
                        <td>@item.ASSIGMENT</td>
                        <td>@item.SIB</td>
                        <td>@item.EXPLONATION_DATE</td>
                        <td>@item.PROPERTY</td>
                        <td>@item.PROPERTY_TYPE</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

