@model IEnumerable<WebApplication2.Models.RIVERBAND>
@{
    ViewBag.Title = "Riverband";
    Layout = "~/Views/Shared/NazirlikLayout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.NAME)</th>
                        <th>@Html.DisplayNameFor(model => model.HEIGHT)</th>
                        <th>@Html.DisplayNameFor(model => model.EXPLONATION_DATE)</th>
                        <th>@Html.DisplayNameFor(model => model.GENERAL_TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.TECHNICAL_CONDITION)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY_TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY)</th>
                        <th>@Html.DisplayNameFor(model => model.ASSIGMENT)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.NAME)</th>
                        <th>@Html.DisplayNameFor(model => model.HEIGHT)</th>
                        <th>@Html.DisplayNameFor(model => model.EXPLONATION_DATE)</th>
                        <th>@Html.DisplayNameFor(model => model.GENERAL_TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.TECHNICAL_CONDITION)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY_TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY)</th>
                        <th>@Html.DisplayNameFor(model => model.ASSIGMENT)</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.NAME</td>
                        <td>@item.HEIGHT</td>
                        <td>@item.EXPLONATION_DATE</td>
                        <td>@item.GENERAL_TYPE</td>
                        <td>@item.TECHNICAL_CONDITION</td>
                        <td>@item.PROPERTY_TYPE</td>
                        <td>@item.PROPERTY</td>
                        <td>@item.ASSIGMENT</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

