@model IEnumerable<WebApplication2.Models.CHANNELS_M>
@{
    ViewBag.Title = "Channels";
    Layout = "~/Views/Shared/NazirlikLayout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.NAME)</th>
                        <th>@Html.DisplayNameFor(model => model.ASSIGMENT)</th>
                        <th>@Html.DisplayNameFor(model => model.WATER_CAPABILITY)</th>
                        <th>@Html.DisplayNameFor(model => model.EXPLONATION_DATE)</th>
                        <th>@Html.DisplayNameFor(model => model.SERVED_AREA)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY_TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY)</th>
                        <th>@Html.DisplayNameFor(model => model.TECHNICAL_CONDITION)</th>
                        <th>@Html.DisplayNameFor(model => model.SERVERD_REGION)</th>
                        <th>@Html.DisplayNameFor(model => model.DEVICE_SUM)</th>
                        <th>@Html.DisplayNameFor(model => model.SOURCE)</th>
                        <th>@Html.DisplayNameFor(model => model.FACTICAL_LENGTH)</th>
                        <th>@Html.DisplayNameFor(model => model.SIBS)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.NAME)</th>
                        <th>@Html.DisplayNameFor(model => model.ASSIGMENT)</th>
                        <th>@Html.DisplayNameFor(model => model.WATER_CAPABILITY)</th>
                        <th>@Html.DisplayNameFor(model => model.EXPLONATION_DATE)</th>
                        <th>@Html.DisplayNameFor(model => model.SERVED_AREA)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY_TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.PROPERTY)</th>
                        <th>@Html.DisplayNameFor(model => model.TECHNICAL_CONDITION)</th>
                        <th>@Html.DisplayNameFor(model => model.SERVERD_REGION)</th>
                        <th>@Html.DisplayNameFor(model => model.DEVICE_SUM)</th>
                        <th>@Html.DisplayNameFor(model => model.SOURCE)</th>
                        <th>@Html.DisplayNameFor(model => model.FACTICAL_LENGTH)</th>
                        <th>@Html.DisplayNameFor(model => model.SIBS)</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TYPE</td>
                            <td>@item.NAME</td>
                            <td>@item.ASSIGMENT</td>
                            <td>@item.WATER_CAPABILITY</td>
                            <td>@item.EXPLONATION_DATE</td>
                            <td>@item.SERVED_AREA</td>
                            <td>@item.PROPERTY_TYPE</td>
                            <td>@item.PROPERTY</td>
                            <td>@item.TECHNICAL_CONDITION</td>
                            <td>@item.SERVERD_REGION</td>
                            <td>@item.DEVICE_SUM</td>
                            <td>@item.SOURCE</td>
                            <td>@item.FACTICAL_LENGTH</td>
                            <td>@item.SIBS</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

